.noShow {
    display: none;
}
.popup {
    margin: -25%;
    width: 50vw;
    height: 50vh;
    background-color: #ff08ff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    justify-items: center;
    align-items: center;
}
.gameover_box {
    background: white;
    padding: 1rem;
    width: 40%;
    min-height: 25%;
    border-radius: 10px;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

.popup button {
    background: lightgrey;
    position: absolute;
    top: 5px;
    right: 5px;
}
.fw800 {
    font-weight: 800;
}
