@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

body {
  font-family: "Mina", sans-serif;
  background-attachment: fixed;
  text-align: center;
}
button {
  font-family: inherit;
  cursor: pointer;
}
